@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --bg-card: #1A262C;
    --color-green: rgb(14, 158, 14);
  }

/* --- RESET --- */
* {
    box-sizing: border-box;
  }
  html {
    font-family: 'Lato', sans-serif;
  }
  body {
    margin: 0;
  }
  h1, h2, h3, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  input, button {
    font-family: inherit;
    border: none;
  }
  button {
    cursor: pointer;
  }
  img {
    display: block;
  }

  .header-img {
    background-image: url(https://i.guim.co.uk/img/media/b563ac5db4b4a4e1197c586bbca3edebca9173cd/0_12_3307_1985/master/3307.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=61a26bf43da26e4ca97e932e5ee113f7);
    height: 400px;
    background-size: auto;
    margin-left: 100px;
    margin-right: 100px;
    
  }
  .body{
    background-color: rgb(61, 57, 57);
  }
  .title-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration-color: aliceblue;
  }